<nav class="navbar bg-dark border-bottom border-body py-0" data-bs-theme="dark">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active ms-3" aria-current="page" href="profile">my profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logout">logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="board">new board</a>
    </li>
    <li *ngFor="let user of connectedUsers" class="nav-item">
      <a class="nav-link">{{ user.username }} connected</a>
    </li>
    <li *ngFor="let user of disconnectedUsers" class="nav-item">
      <a class="nav-link">{{ user.username }} disconnected</a>
    </li>
  </ul>

  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link">Welcome {{ user?.username }}</a>
      </li>
    </ul>
  </div>
  
  <form class="d-flex me-5 m-2">
    <label class="me-2 text-white m-2">Select Board:</label>
    <select
      class="form-select form-select me-2"
      style="height: fit-content; width: fit-content"
      (change)="selectBoard($event)"
      [(ngModel)]="selectedBoardId"
      name="selectedBoardId"
    >
      <option *ngFor="let board of boards" [value]="board.id">
        {{ board.name }}
      </option>
    </select>
  </form>
</nav>


<main class="dashboard" cdkDropListGroup>
  <!-- Column: New -->
  <div class="column" cdkDropList id="new" [cdkDropListData]="getTasksByStatus('NEW')" (cdkDropListDropped)="drop($event)">
    <h1 class="h3 mb-3 fw-normal">New</h1>
    <ng-container *ngFor="let task of getTasksByStatus('NEW')">
      <div class="card-new" cdkDrag>
        <h4>{{ task.title }}</h4>
        <button class="erase" (click)="deleteTask(user?.id ?? '', task.id)">X</button>
        <p>{{ task.description }}</p>
        <div class="btn-container">
          <button class="custom-assign" (click)="toggleAssignedTask(task.id)">Assigned</button>
          <button class="custom-inprogress" (click)="toggleInProgressTask(task.id)">In process</button>
          <button class="custom-complete" (click)="toggleCompletedTask(task.id)">Complete</button>
        </div>
      </div>
    </ng-container>
    <button class="btn btn-outline-primary mb-3" type="button" (click)="showTaskFormNew = !showTaskFormNew">
      Add Task
    </button>
    <form *ngIf="showTaskFormNew" (submit)="addTask()">
      <input class="form-control mb-2" type="text" placeholder="Task Title" [(ngModel)]="newTask.title" name="title" />
      <textarea class="form-control mb-2" placeholder="Task Description" [(ngModel)]="newTask.description" name="description"></textarea>
      <button class="btn btn-outline-success w-100" type="submit">Save Task</button>
    </form>
  </div>

  <!-- Column: Assigned -->
  <div class="column" cdkDropList id="assigned" [cdkDropListData]="getTasksByStatus('ASSIGNED')" (cdkDropListDropped)="drop($event)">
    <h1 class="h3 mb-3 fw-normal">Assigned</h1>
    <ng-container *ngFor="let task of getTasksByStatus('ASSIGNED')">
      <div class="card-assigned" cdkDrag>
        <h4>{{ task.title }}</h4>
        <button class="erase" (click)="deleteTask(user?.id ?? '', task.id)">X</button>
        <p>{{ task.description }}</p>
        <div class="btn-container">
          <button class="custom-assign" (click)="toggleAssignedTask(task.id)">Assigned</button>
          <button class="custom-inprogress" (click)="toggleInProgressTask(task.id)">In process</button>
          <button class="custom-complete" (click)="toggleCompletedTask(task.id)">Completed</button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Column: In Process -->
  <div class="column" cdkDropList id="inProgress" [cdkDropListData]="getTasksByStatus('IN_PROGRESS')" (cdkDropListDropped)="drop($event)">
    <h1 class="h3 mb-3 fw-normal">In Process</h1>
    <ng-container *ngFor="let task of getTasksByStatus('IN_PROGRESS')">
      <div class="card-inprocess" cdkDrag>
        <h4>{{ task.title }}</h4>
        <button class="erase" (click)="deleteTask(user?.id ?? '', task.id)">X</button>
        <p>{{ task.description }}</p>
        <div class="btn-container">
          <button class="custom-assign" (click)="toggleAssignedTask(task.id)">Assigned</button>
          <button class="custom-inprogress" (click)="toggleInProgressTask(task.id)">In process</button>
          <button class="custom-complete" (click)="toggleCompletedTask(task.id)">Completed</button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Column: Done -->
  <div class="column" cdkDropList id="completed" [cdkDropListData]="getTasksByStatus('COMPLETED')" (cdkDropListDropped)="drop($event)">
    <h1 class="h3 mb-3 fw-normal">Completed</h1>
    <ng-container *ngFor="let task of getTasksByStatus('COMPLETED')">
      <div class="card-done" cdkDrag>
        <h4>{{ task.title }}</h4>
        <button class="erase" (click)="deleteTask(user?.id ?? '', task.id)">X</button>
        <p>{{ task.description }}</p>
      </div>
    </ng-container>
  </div>
</main>
<footer>
  <div class="nav-text">2025 All rights reserved || Claudio Martin Herranz</div>
  <ul class="nav justify-content-end me-5">
    <li class="nav-item">
      <a
        class="nav-link active ms-3"
        aria-current="page"
        href="https://github.com/ClaudioMartinH"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://x.com/martinherranzc">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.linkedin.com/in/claudio-martin-herranz"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</footer>
