<div class="container">
  <main class="form-signin w-100 m-auto">
    <form (submit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingUsername"
          placeholder="User Name"
          [(ngModel)]="username"
          name="username"
          required
        />
        <label for="floatingInput ">User Name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingFullName"
          placeholder="Full Name"
          [(ngModel)]="fullname"
          name="fullname"
          required
        />
        <label for="floatingInput">Full Name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          [(ngModel)]="email"
          name="email"
          required
        />
        <label for="floatingInput ">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingConfirmPassword"
          placeholder="Password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <label for="floatingPassword">Confirm Password</label>
      </div>
      <div class="form-check text-start my-3">
        <input
          class="form-check-input"
          type="checkbox"
          value="remember-me"
          id="flexCheckDefault"
          [(ngModel)]="rememberMe"
          name="rememberMe"
          required
        />
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
      <button class="btn btn-outline-dark w-100 mb-2" type="submit">
        Register me!
      </button>
      <button class="btn btn-outline-dark w-100" type="button" (click)="onLogin()">
        Already have an account?
      </button>
    </form>
  </main>
</div>
